#header {
	text-align: center;
	font-size: 60px;
	border: solid;
	border-color: white;
	background-color: #a10e03;
	color: white;
	width: 1255px;
	height: 70px;
	float: justify;
}
#main {
	border: solid;
	border-color: white;
	background-image: url("bg.jpg");
	height: 510px;
	width: 1255px;
	color: white;
	text-align: center;
}
#footer {
	text-align: center;
	border: solid;
	border-color: white;
	background-color: #a10e03;
	color: white;
	width: 1255px;
	height: 20px;
	float: justify;
}