#header {
	text-align: center;
	font-size: 60px;
	border: solid;
	border-color: white;
	background-color: #a10e03;
	color: white;
	width: 1255px;
	height: 70px;
	float: justify;
}
#main {
	border: solid;
	border-color: white;
	background-image: url("bg.jpg");
	height: 510px;
	width: 1255px;
	color: white;
}
#profile {
	text-align:center;
	height: 460px;
	width: 450px;
	float: left;
	padding:25px;
}
#about {        
	width:1255px;
	height: 225px;
	float:justifiy;
}
#add {
	line-height:45px;
	width: 1205px;
	height: 230px;
	float:justify;
	padding:25px;
}
#footer {
	text-align: center;
	border: solid;
	border-color: white;
	background-color: #a10e03;
	color: white;
	width: 1255px;
	height: 20px;
	float: justify;
}
.border {
	border: solid;
	border-color: #a10e03;
	size: 100%;
	padding: 15px;
}
.line {
	border-bottom: dashed;
	border-color: white;
	border-width: 9px;
	width: 755px;
	float: right;
}